<div class="row">
  <% @user_posts.each do |post| %>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="dashboard-user-photos" src="<%= post.images.thumbnail.url %>" >
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= post.user[:username] %><i class="material-icons right">close</i></span>
            <p>Favorites: <%= post.likes[:count] %></p>
            <p><a href='<%= current_user.username %>'><%= post.user[:username] %> </a><%= post.caption[:text] %></p>
            <p><%= post.comments %></p>
            <br>
          <a href='/media_like/<%= post.id %>'>Like</a>
          <a href='/media_unlike/<%= post.id %>'>Unlike</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
