<div class="container">
    <% if current_user %>
      <h3> <%= current_user.username %>'s recent media</h3>

      <% @user_posts.each do |post| %>
        <div style='float:left;'>
          <%= image_tag post.images.thumbnail.url %>
        <br/>
        <a href='/media_like/<%= post.id %>'>Like</a> | <a href='/media_unlike/<%= post.id %>'>UnLike</a> | Likes: <%= post.likes[:count] %></div>
      <% end %>

    <% else %>
      <div class="col s12"><span class="flow-text"> Login to Adventure </span></div>
    <% end %>
</div>
