<div class="container">
    <% if current_user %>
      <h3> <%= current_user.username %>'s recent media</h3>

      <% @instagram.each do |media| %>
        <div style='float:left;'>
          <%= image_tag media.images.thumbnail.url %>
        <br/>
        <a href='/media_like/<%= media.id %>'>Like</a> | <a href='/media_unlike/<%= media.id %>'>UnLike</a> | Likes: <%= media.likes[:count] %></div>
      <% end %>

    <% else %>
      <div class="col s12"><span class="flow-text"> Login to Adventure </span></div>
    <% end %>
</div>
